<div id="restaurant_container">
  <h2><%= restaurant.escape('name') %></h2>
  <br>
  <div class="restaurant-info">
    <div id="price" class="bullet-after">
      <i class="fa fa-sun-o"></i>
      <%= restaurant.escape('lunch_price') %>
    </div>
    <i class="fa fa-moon-o"></i>
    <%= restaurant.escape('dinner_price') %>x

    <br>
    <div id="tags">
      <% _.each(restaurant.attributes.categories, function(c) { %>
        <%= c.name %>   <!-- TODO - link to category -->
      <% }) %>   <a id="edit_tags" href="#">Edit</a>
    </div>
  </div>

  <div class="restaurant-buttons" style="text-align: right;">
    <% var review_path = '/restaurants/' + restaurant.escape('id') + '/reviews/new'; %>
    <% var images_path = '/restaurants/' + restaurant.escape('id') + '/restaurant_images/new'; %>
    <a href="<%= review_path %>" class="btn btn-primary">Write a Review</a>
    <div class="btn-group" role="group">
      <a href="<%= images_path %>" id="add_image" class="btn btn-default"><i class="fa fa-camera"></i> Add Photo</a>
      <button id="share_restaurant" class="btn btn-default"><i class="fa fa-share"></i> Share</button>
      <button id="bookmark_restaurant" class="btn btn-default"><i class="fa fa-bookmark"></i> Bookmark</button>
    </div>
  </div>

  <br>
  
  <div id="restaurant_location">
    <div id="restaurant_map"></div>
    <div id="restaurant_address">
      <%= restaurant.escape('display_address') %>
    </div>
  </div>
  <div id="restaurant_images">
    <% var images = restaurant.attributes.images; %>
    <% _.each(images.slice(0, 2), function(image) { %>
      <div class="restaurant-image">
        <img class="center-cropped" src="<%= image.url %>"/>
      </div>
    <% }) %>
    <div class="restaurant-image">
      <img class="center-cropped" src="<%= images[images.length - 1].url %>"/>
      </div>
  </div>

  <br>

  <div id="match_container">
    <div id="match_stats">
      regional ranking by top three categories
    </div>
    <div id="match_form"></div>
  </div>

  <br>

  <div class="info-row">
    <div id="restaurant_reviews">
      TODO - load reviews
    </div>
    <div id="restaurant_details">
      details
      <table>
      </table>
    </div>
  </div>
</div>

<style>
@media (min-width: 1190px) {
  #restaurant_container {
    position: relative;
    padding: 0em 3em 3em 3em;
  }
}
@media (max-width: 1189px) {
  #restaurant_container {
    position: relative;
    padding: 0em 0em 3em 0em;
  }
}

#restaurant_map {
  height: 12em;
  width: 19em;
  margin: 0;
  padding: 0;
}

.restaurant-info {
  position: relative;
  top: 0;
  left: 0;
}

.restaurant-info #price,
.restaurant-info #tags {
  display: inline-block;
}

.restaurant-buttons {
  position: absolute;
  right: 0em;
  top: 2em;
}

#restaurant_location {
  padding: 0.5em;
  border: #aaa solid 1px;
}

#restaurant_location {
  width: 20em;
}

#match_stats {
  margin-top: 3em;
  width: 20em;
  height: 20em;
  background-color: #f0f0f0;
  display: inline-block;
}

#match_container {
  position: relative;
  top: 0;
}

#match_form {
  position: absolute;
  top: 3em;
  right: -1em;
  padding: 2em;
  width: 33em;
  height: 20em;
  background-color: #f0f0f0;
}

.center-cropped {
  width: 14.286em;
  height: 14.286em;
  object-fit: none; /* Do not scale the image */
  object-position: center; /* center the image within the element */

  -webkit-transition: width 1s;
  transition: width 1s;
}

.center-cropped:hover {
  width: 17.857em;
  height: 17.857em;
  object-fit: none; /* Do not scale the image */
  object-position: center; /* center the image within the element */
}

.restaurant-image {
  display: inline-block;
}

#restaurant_images,
#restaurant_location {
  vertical-align: middle;
  display: inline-block;
}

#restaurant_images {
  position: absolute;
  height: 17.857em;
  right: 0;
}

.info-row {
  margin-top: 2em;
}

#restaurant_reviews,
#restaurant_details {
  width: 32.5em;
  display: inline-block;
}

#restaurant_details {
  padding: 0em 2em 2em 2em;
}

#restaurant_reviews {
  padding: 0em 2em 2em 0em;
  border-right: solid #f0f0f0 1px;
  margin-bottom: 5em;
}
</style>
