<div id="landing_pitch" class="col-md-4">
  <h3><%= t('landing.title') %></h3><br>
  <p><%= t('landing.pitch1') %></p>
  <p><%= t('landing.pitch2') %></p>
  <a href="<%= new_registration_path(:user) %>" class="btn btn-large btn-primary"><%= t('landing.sign_up') %></a>
</div>

<div class="match-container col-md-8 text-center">
</div>

<style>
#landing_pitch {
  padding: 1em 1em 2em 1em;
  background-color: #f0f0f0;
  border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
}
</style>
