<div class="text-center">
  <%= t('restaurants.index.results', category: params[:category], location: params[:subarea]) %><br>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %><br>
<br>

<table id="restaurants_list">
  <!-- TODO - this is n + 1 query!!! -->
  <% @restaurants.each do |r| %>
    <tr class="list-restaurant">
      <td class="image">
        <%= link_to r do %>
          <%= image_tag r.front_image %>
        <% end %>
      </td>
      <td class="name"><%= link_to r.name, r %></td>
    </tr>
  <% end %>
</table>

<br><br>

<style>
.list-restaurant {
  height: 11em;
}

.list-restaurant .name {
  text-align: left;
  padding: 2em 2em 2em 2em;
}
</style>