<div id="match_config">
  <%= t['area'] %>
  <input type="text" id="subarea_autocomplete" class="form-control" />
  <%= t['category'] %>
  <select id="categories_select" class="form-control" style=""></select>
</div>
<br>

<div class="match-restaurant-box">
  <div class="match-restaurant left-restaurant">
  	<div class="match-image left-image">
      image 1
  	</div>
  	<div class="left-description">

  	</div>
  </div>
</div>
<div class="win-box text-center">
  <div class="left-select">
    <div class="match-arrow arrow-left">
      <img src="http://cdn.flaticon.com/png/64/48358.png" /> 
    </div>
    <button id="left_win" class="btn btn-success match-button"><%= t['landing.win'] %></button><br>
    <button id="left_never_been" class="btn btn-default match-button"><%= t['landing.never_been'] %></button>
  </div>
  <br>
  <div class="draw-select">
    <button id="draw" class="btn btn-default match-button"><%= t['landing.draw'] %></button>
  </div>
  <br>
  <div class="right-select">
    <button id="right_win" class="btn btn-success match-button"><%= t['landing.win'] %></button><br>
    <button id="right_never_been" class="btn btn-default match-button"><%= t['landing.never_been'] %></button>
    <div class="match-arrow arrow-right">
      <img src="http://cdn.flaticon.com/png/64/48320.png" /> 
    </div>
  </div>
</div>
<div class="match-restaurant-box">
  <div class="match-restaurant right-restaurant">
  	<div class="right-description">
  	  
  	</div>
    <div class="match-image right-image">
      image 2
  	</div>
  </div>
</div>

<style>
#match_config {
  margin-bottom: 3em;
}

#match_config .form-control {
  width: 10em;
  display: inline-block;
}

.match-restaurant-box,
.win-box {
  display: inline-block;
  vertical-align: top;
}

.match-restaurant-box {
  width: 21.429em;
  height: 21.429em;
}

.win-box {
  height: 21.429em;
  width: 15em;
}

.left-select,
.draw-select,
.right-select {
  position: relative;
  padding: 1em 1em 1em 1em;
  background-color: #f0f0f0;
}

.match-button {
  width: 80%;
}

.match-arrow {
  position: absolute;
  width: 8%;
  height: 5em;
}

.arrow-left {
  top: 0.8em;
  left: 0.5em;
}

.arrow-right {
  top: 0.8em;
  right: 0.5em;
}

.match-arrow img {
  width: 100%;
  height: 100%;
}

.match-restaurant {
  position: relative;
  width: 100%;
}

.match-image {
  display: block;
  margin: 0 auto;
  overflow: hidden;
}

.left-description,
.right-description {
  position: absolute;
  width: 21.429em;
  height: 4em;
  background-color: rgba(250, 250, 250, 0.5);
}

.left-description {
  top: 0em;
}

.right-description {
  bottom: 0em;
}

.left-select,
.left-description {
  background-color: #ff5050;
}

.right-select,
.right-description {
  background-color: #3399ff;
}

.ui-menu .ui-menu-item a{
  color: #96f226;
  border-radius: 0px;
  border: 1px solid #454545;
}
</style>