<nav class="navbar navbar-gold">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" data-no-turbolink>Restaurant Reviews</a>
    </div>

       <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <%= t('search.category') %> <input id="search_category" type="text" class="form-control" placeholder="<%= t('search.category_hint') %>">&nbsp;&nbsp;
          <%= t('search.subarea') %> <input id="search_subarea" type="text" class="form-control" placeholder="<%= t('search.subarea_hint') %>">
        </div>
        <div id="search_submit" class="btn btn-default"><i class="fa fa-search"></i></div>
        <div id="search_error_msg"></div>
      </form>

      <ul class="nav navbar-nav navbar-right">
      <% if signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'Profile', user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
      <% else %>
        <li>
          <%= link_to "Sign Up", new_registration_path(:user), class: "auth-link" %>
        </li>
        <li>
            <%= link_to "Log In", new_user_session_path, class: "auth-link" %>
        </li>
      <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<script>
$('#search_subarea').autocomplete({
  source: '/api/v1/locations/subareas'
});

$('#search_category').autocomplete({
  source: '/api/v1/categories'
});

$('#search_submit').click(function() {
  var category = $('#search_category').val();
  var subarea = $('#search_subarea').val();

  if (category == '') {
    $('#search_error_msg').html('You must select a category');
    return;
  }  
  if (subarea == '') {
    $('#search_error_msg').html('You must input a location');
    return;
  }

  window.location = encodeURI('/restaurants?category=' + category + '&subarea=' + subarea);
});
</script>

<style>
.navbar-gold {
  background-color: #FFCC00;
  border-color: #e7e7e7;
}
</style>
