<!DOCTYPE html>
<html>
<head>
  <title>RestaurantReviews</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <!-- jQuery UI -->
  <%= stylesheet_link_tag 'https://code.jquery.com/ui/1.11.2/themes/black-tie/jquery-ui.css' %>
  <%= javascript_include_tag 'https://code.jquery.com/ui/1.11.2/jquery-ui.min.js' %>

  <!-- Bootstrap -->
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js' %>

  <!-- Font Awesome -->
  <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render '/layouts/header' %>
<div class="container">
  <%= yield %>
</div>

<%= render '/layouts/feedback' %>

<script>
window.I18n = <%= current_translations.to_json.html_safe %>
console.log(I18n);
</script>

</body>
</html>
