<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0 user-scalable=no">
  <%= render '/layouts/head' %>
</head>
<body>
<%= render '/layouts/mobile_header' %>
<div class="container">
  <%= yield %>
</div>

<%= render '/layouts/feedback' %>

<script>
window.I18n = <%= current_translations.to_json.html_safe %>
</script>

</body>
</html>
